body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.btnrow {
    text-align: center;
}

button {
    display: inline-block;
    padding: 2px;
    border: 1px solid black;
    margin-bottom: 5px;
    justify-content: center;
}

.boxes {
    display: inline-block;
}

.container {
    display: grid;
    width: 960px;
    height: 800px;
    font-size: 0;
    grid-gap: 0;
    justify-content: stretch;
    margin: auto;
    border: 1px solid black;
}

.row {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    border-spacing: 0;
    font-size: 1rem;
    height:auto;
    width:max-content;
}

.changed {
    background-color: black;
}